In [5]:
import pandas as pd

from PIL import Image

from IPython.display import display, HTML
display(HTML("<style>.container { width: 90% !important}; </style>"))

# Loading Data

In [13]:
data_folder = './data/'

train = pd.read_csv(data_folder + 'train.csv', index_col=0)
test = pd.read_csv(data_folder + 'test.csv', index_col=0)

In [14]:
train.head()

                                                    path_img  label
idx_train
0          all_imgs/bc7696f4-1460-4d0b-a63d-f84b3be4da0f....      0
1          all_imgs/f8d50663-60d8-4da5-a8b8-79f954aec503....      2
2          all_imgs/51df0f29-758b-4741-ab74-a0ff8e21c044....      4
3          all_imgs/f61b81d3-3b79-4162-b4d6-4f1b39518c4c....      0
4          all_imgs/b21e0668-bd09-4794-9e90-da8ecffc4c1c....      0

In [15]:
test.head()

                                                   path_img  label
idx_test
0         all_imgs/ec4c75ba-e064-4ed0-a7b1-3ed899424110....      6
1         all_imgs/114fb94d-3223-4d95-b6d1-f6a6ac206ea2....      2
2         all_imgs/a80e7e27-a25a-40aa-a65c-a29bfa172b3d....      6
3         all_imgs/7848d24e-207a-4236-9cd7-df78122d8787....      6
4         all_imgs/57f726bc-d141-42fb-88fa-60d554499277....      5

# Data Exploration